@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<MudLayout>
    <MudDrawerContainer>
        <MudDrawer Open="true" Variant="DrawerVariant.Mini">
            <NavMenu />
        </MudDrawer>

        <MudMainContent>
            @Body
        </MudMainContent>

    </MudDrawerContainer>

</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
